body {
	margin: 0;
}
.first_page {
	background: #eff0f2;
	max-width: 100%;
/*	min-height: 985px;
*/	padding: 80px 150px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;

}
.burger {
	margin-left: calc(100% - 160px);
	display: inline-block;
}
.line {
	background: #606061;
	width: 100%;
	min-width: 1.875em;
	min-height: 0.250em;
	border-radius: 10%;
	margin-bottom: 0.313em;
}
h1 {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 320px 146px 269px 136px;
	text-align: center;
	color: #505050;
	text-shadow: 5px 5px 7px #c9c9cb;
	font-size: 30pt;
}
.contact {
	border: 2px solid #777879;
	text-decoration: none;
	color: #606061;
	padding: 20px 48px;
	margin: 150px 368px 66px 450px;
	-webkit-transition: border-radius 0.5s 0.5s;
}
.contact:hover {
	border-radius: 40%;
}
.main_text:after {
	position: absolute;
	content: url(juice.png);
	transform: translate(350px, 350px);
}
.highlight {
	background: #b2f2ee;
}
.recede {
	margin-top: 25px;
}
.logo {
	-webkit-transition: transform 0.5s 0.5s;
}
.logo:hover {
	transform: rotate(180deg);
}


.second_page {
	background: #f8fafa;
	padding: 129px 150px 113px 150px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
}
.text_color_2 {
	font-family: 'Raleway', sans-serif;
	color: #848585;
}
.content {
	margin: 0px 50px 200px 155px;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	padding-top: 152px; 
}
h2 {
	font-family: 'Merriweather', serif;
}
.picture {
	background: url(background.png) no-repeat center;
	display: inline-block;
	vertical-align: middle;
	padding: 37px 42px;
}
#mycheck {
			display: none;
		}
[type="radio"]:checked + label {
		background: #71f6eb;
		}
label {
	width: 10px;
	height: 10px;
	background: lightgrey;
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	border-radius: 3px;
}
.check {
	margin: 0px 860px 0px 250px;
}

[type="radio"] {
	display: none;
}
@media (max-width: 1200px) {
	.contact {
		font-size: 10px;
	} 
}
.featured_works {
	max-width: 100%;
/*	min-height: 985px;
*/	padding: 130px 150px 125px 150px;
/*	margin: 0 auto;
*/}
h2 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
h3 {
	text-transform: uppercase;
	font-family: Merriweather, serif;
	text-align: center;
	color: rgba(0, 0, 0, 0.4);
}
.text_color {
	color: rgba(0, 0, 0, 1);
}
.images_sizing {
	width: 373px;
	height: 362px;
}
.images_position_ibc {
	margin-left: calc((100%) - 24px) / 3);
	display: inline-block;
}
.our_services {
	background: #f9fbfb;
	max-width: 100%;
	min-height: 985px;
	padding: 80px 150px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
}
.bigger_width {
	width: 652px;
	height: 371px; 
}
.smaller_width {
	width: 474px;
	height: 370px; 
}
.bottom_padding {
	padding-bottom: 120px;
}